.alert {
    width: 200px;
    height: 50px;
    background-color: rgba(197, 139, 139, 0.5);
    color: rgb(56, 27, 27);
    padding: 5px;
    border-radius: 5px;
    text-align: center;
    position: absolute;
}